.App {
  text-align: center;
}

.App nav {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.App nav a {
  text-decoration: none;
  Color: purple;
  font-weight: bolder;
}
.App nav a:hover {
  color: magenta;
}


